.body {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  max-width: 50rem;
  padding: 2rem;
}

.title,
.description {
  text-align: center;
}

.favoriteIcon {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.moreLink {
  color: var(--color-primary-500);

  &:visited {
    color: var(--color-primary-500);
  }

  &:hover {
    color: var(--color-primary-900);
  }
}
