:root {
  --color-danger-500: #cc1439;
  --color-primary-300: #4c8dff;
  --color-primary-500: #397df6;
  --color-primary-900: #234e99;
  --color-light-100: #fff;
  --color-light-900: #c3c1c7;
  --color-dark-100: #808080;
  --color-dark-900: #000;
}
